.form-group {
  margin-bottom: 16;
}
.label {
  font-size: 14;
  margin-bottom: 4;
  color: #374151;
}
.input {
  border-width: 1;
  border-color: #d1d5db;
  border-radius: 4;
  padding: 8 12;
  height: 40;
  background-color: white;
}
.btn-primary {
  background-color: #65adf1;
  color: white;
  font-size: 16;
  font-weight: bold;
  padding: 12;
  border-radius: 4;
}
.btn-secondary {
  background-color: #e5e7eb;
  color: #374151;
  font-size: 16;
  font-weight: bold;
  padding: 12;
  border-radius: 4;
}